@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root{
    --main-color:#ffc000;
    --blackcolor:#1B1B1B;
    --graycolortxt:#74787C;
    --black2:#54595F;
    --smoke-color:#F5F5F5;
    --shadow:#dee1e8;
  }
  
  *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
  }
  
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }

  .header{
    position:absolute;
    top: 70px;
    border-radius: 85px;
    border-radius: 85px;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    align-items: center; 
    align-content: center; 
    background-color:#000000;
    height: 100px;
    width: 1200px;
    background-image: linear-gradient(90deg, #ffc000 70%, #1c1a1a -50%);  
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
  }


nav{
  margin-left: 50px;
}

nav a{
  font-size: 16px;
  padding: 1rem;
  letter-spacing: 0.2em;
  font-weight: 700;
  margin-right: 100px;
  color: rgb(0, 0, 0);
}

#navbar{
  cursor: pointer;
  display: none;
  
}

nav a:hover{

  color: white;
}


.navbar-icons{
  margin-left: 50px;
}

.contact{
  padding: 1.5rem 31px;
  margin-left: 10px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 25px;
  font-size: 1.5rem;
  position: relative;
  background-color: #ffffff;
  
}
.contact a{
  font-size: 14px;
  color: rgb(0, 0, 0);
  letter-spacing: 0.1em;
  font-weight: 600;
  text-decoration: none;
  outline: none;

}
.contact::before{
  content: "";
  background: var(--graycolortxt);
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}
.contact:hover{
  background-color:#ffc000;
  color: white;
}


/* home section design */

.main-home{
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/taxiHeader.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  
}

.home-inner-contect{
  margin-top: 410px;
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: 485px;
  font-weight: 900!important;
}

.home-inner-contect h1{
  color: white;
  font-size: 90px;
  line-height: 1.11em;
}


  
.important-btn{
  
  text-align: center;
  padding: 2rem 4rem;
  background-color: var(--main-color);
  font-size: 1.5rem;
  transform: skew(-20deg);
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  margin-top: 40px;
}
.important-btn a{
  color: white;
  font-size: 2rem;
}

.important-btn::before{
  content: "";
  background: var(--blackcolor);
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
  
}
.important-btn:hover::before{
  top: 0;
  height: 100%;
  cursor: pointer;
  
}


.about-us{
  padding: 0 6%;
  padding-top: 5rem;
  padding-bottom: 3rem;
  background: var(--smoke-color);
  
}
.main-about{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.inner-about{
  flex: 1 1 50rem;
  padding: 1rem;
}
.inner-about img{
  width: 80%;
  padding: 2rem;
  border: 4px solid white;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.24);
}
.inner-about img:hover{
  transform: scale(1.1);
}
.inner-about{
  padding: 0 1rem;
}

.about-content h3{
  color: var(--main-color);
  font-size: 22px;
  margin-bottom: 10px;
}
.about-content h1{
  font-size: 40px;
  padding: 0.5rem;
}
.paragraph{
  margin-top: 1.5rem;
  padding: 1rem;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.1),
            10px 10px 10px rgba(70,70,70,0.12);
            background-color: white;
}
.paragraph p{
  font-size: 1.5rem;
  color: var(--graycolortxt);
  line-height: 2.5rem;
}
.paragraph h4{
  font-size: 2rem;
  color: black;
  margin-top: 1rem;
}

.paragraph:hover{
  transform: scale(1.1);
}

.contact-with-us{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
  background: var(--smoke-color);
  padding: 1rem;
}
.phone{
  font-size: 2rem;
  background: var(--main-color);
  color: white;
  padding: 2rem;
  border-radius: 20%;
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
            10px 10px 15px rgba(70,70,70,0.12);
}
.contact-inner-content h4{
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.contact-inner-content h4 span{
  color: var(--main-color);
  font-size: 2rem;
}

/* Our service section start */
.our-service{
  padding: 2rem 7%;
}
.service-heading{
  text-align: center;
}
.service-heading h3{
  color: var(--main-color);
  font-size: 3rem;
  padding: 1rem 0;
}
.service-heading h1{
  font-size: 50px;
  padding-bottom: 3rem;
}
.main-inner-service{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.inner-service-content{
  flex: 1 1 300px;
}
.service-main-content{
  width: 80%;
  background-color: var(--smoke-color);
  
  margin: 0 auto;
  position: relative;

}
.service-main-content::before{
  content: "";
  background: var(--blackcolor);
  position: absolute;
  height: 300px;
}

.service-content-inside{
  text-align: center;
  position: relative;
}
.service-content-inside h2{
  margin-top: 15px;
  font-size: 30px;
  color: black;
  /* padding: 1rem 0; */
 
}

.service-content-inside a{
  padding: 1.5rem 0;
  background:#000000;
  margin-top: 5px;
  display: block;
  font-size: 1.5rem;
  color: white;
  position: relative;
  z-index: 100;
  transition: all 1s;

}

.service-out{
  height: 300px;
  bottom: 50px;
  position: relative;
  overflow: hidden;
  
}
.service-img img{
  width: 100%;
  padding: 2rem;
}

.inner-service-content:hover .service-out{
bottom: 0;
}

.inner-service-content:hover .service-main-content{
  background-color:#ffc000;
}

.inner-service-content:hover .service-img img{
  transform: scale(1.1);
}

.service-btn{
  position: relative;
  transition: 0.5s ease;
  color: white;
  z-index: -1;
}

.service-content-inside a::before{
  content: "";
  background: #8f731f;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  transition: all 0.5s;
}
.service-content-inside a:hover:before{
  top: 0;
  height: 100%;
  z-index: -1;
}


/* Services */
.main-tariff{
    padding: 3rem 7%;
   
   
  }
  .main-tariff h1{
    font-size: 38px;
    text-align: center;
    padding-bottom: 6rem;
  }
  .main-tariff h1 span{
    color: #ffc61a;
  }
  .inner-tarrif{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .tarrif-container{
    flex: 1 1 250px;
    text-align: center;
    padding: 3rem 0;
  }
  .tarrif-container img{
    width: 60%;
    margin-top: -50px;
  }
  .tarrif-container .inner-box h2{
    font-size: 30px;
  }
  .tarrif-container .inner-box p{
    font-size: 1.5rem;
    padding: 2rem;
  }
  .tarrif-container .inner-box h3{
    color: #ffc61a;
    font-size: 2rem;
  }
  .tarrif-container .inner-box a{
    font-size: 1.5rem;
    padding: 1rem 3rem;
  
  }
  .tarrif-container:nth-child(2){
    background: #ffc61a;
  }
  .heading-yellow{
    color: black;
  }
  .yellw-section{
    color: black !important;
  }
  .tarrif-container a{
    color: white;
    padding: 1rem 3rem;
    background: black;
    display: inline-block;
    margin-top: 1rem;
  
  }

  
/* Footer */

.footer-distributed{
	background:#000000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-left,
.footer-center,
.footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-left{
	width: 40%;
}

/* Footer links */

.footer-links{
	color:#ffc000;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}


/* Footer Center */

.footer-center{
	width: 35%;
}

.footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:#ffc000;
	text-decoration: none;;
}

.footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color:#ffffff;
  display: inline-block;
  padding-right: 5px;
}

.footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-right{
	width: 20%;
}

.footer-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}